# Problem Statement 1:

In [48]:
'''
In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
1. ùêª0: ùúá = 25, ùêª1: ùúá ‚â† 25
2. ùêª0: ùúé > 10, ùêª1: ùúé = 10
3. ùêª0: ùë• = 50, ùêª1: ùë• ‚â† 50
4. ùêª0: ùëù = 0.1, ùêª1: ùëù = 0.5
5. ùêª0: ùë† = 30, ùêª1: ùë† > 30
'''
print("1. Yes, its correctly stated,For alternative hypothesis mu value can be greater than or less than 25,\nThis is called two sided alternative hypothesis")
print("-----------------------------------------------------------------------")
print("2. No, Because we always states the Null hypothesis with equality symbol")
print("------------------------------------------------------------------------")
print("3. No, Hypothesis always states on the population or distribution,not states on the sample.")
print("-------------------------------------------------------------------------")
print("4. No, Values in both the hypothesis are different.")
print("-------------------------------------------------------------------------")
print("5. No, Hypothesis always states on the population or distribution,not states on the sample.")

1. Yes, its correctly stated,For alternative hypothesis mu value can be greater than or less than 25,
This is called two sided alternative hypothesis
-----------------------------------------------------------------------
2. No, Because we always states the Null hypothesis with equality symbol
------------------------------------------------------------------------
3. No, Hypothesis always states on the population or distribution,not states on the sample.
-------------------------------------------------------------------------
4. No, Values in both the hypothesis are different.
-------------------------------------------------------------------------
5. No, Hypothesis always states on the population or distribution,not states on the sample.

# Problem Statement 2:

In [5]:
'''The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore‚Äôs claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.
'''
import math
# setting up hypothesis
# H0 => Œº = 52 (Null Hypothesis)
# H1 => Œº ‚â† 52 (Alternate Hypothesis)
# levelof significance = 5%
mu = 52
s = 4.50
n = 100
sample_mean = 52.80
z = (sample_mean - mu)/(s / math.sqrt(n))
print("Z-Score:{:.2f}".format(z))
# The Critical value of z is -1.96 to +1.96 for 5% level of significance
# The computed z-value lies between the critical value of z,
print("So accept null hypothesis and mean average cost of the text book is Rs.52")

Z-Score:1.78
So accept null hypothesis and mean average cost of the text book is Rs.52

# Problem Statement 3:

In [8]:
'''A certain chemical pollutant in the Genesee River has been constant for several
years with mean Œº = 34 ppm (parts per million) and standard deviation œÉ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.'''
Œº = 34
œÉ = 8 
n = 50
sample_mean = 32.5
# State the hypothesis
# H0 => Œº = 34
# H1 => Œº ‚â† 34
# Level of Significance = 1%
z = (sample_mean - Œº ) / (œÉ / math.sqrt(n))
print("Z-Score:{:.2f}".format(z))
print("Critical value of z is -2.58 and +2.58")
print("The computed value of z=-1.33 lies between critical value,so accept the null hypothesis")

Z-Score:-1.33
Critical value of z is -2.58 and +2.58
The computed value of z=-1.33 lies between critical value,so accept the null hypothesis

# Problem Statement 4:

In [6]:
'''Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family‚Äôs dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association‚Äôs hypothesis.
1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994'''
import math
Œº = 1135
s = 240.37 
n = 22
sample_mean = 1031.32

# State the hypothesis
# H0 => Œº = 1135
# H1 => Œº ‚â† 1135
# Level of Significance = 5%
z = (sample_mean - Œº ) / (s / math.sqrt(n))
print("Z-Score:{:.2f}".format(z))
print("The critical value of z is -1.96 and +1.96")
print("The computed value of z falls in rejection region,so we reject the null hypothesis,Hence the average dental expences\n for the population is not accurate for their area. ")

Z-Score:-2.02
The critical value of z is -1.96 and +1.96
The computed value of z falls in rejection region,so we reject the null hypothesis,Hence the average dental expences
 for the population is not accurate for their area.

# Problem Statement 5:

In [8]:
'''In a report prepared by the Economic Research Department of a major bank the
Department manager maintains that the average annual family income on Metropolis
is $48,432. What do you conclude about the validity of the report if a random sample
of 400 families shows and average income of $48,574 with a standard deviation of
2000?'''
n = 400
sample_mean = 48574
s = 2000
Œº = 48432
# State the hypothesis
# H0 => Œº = 1135
# H1 => Œº ‚â† 1135
# Level of Significance = 10%
z = (sample_mean - Œº ) / (s / math.sqrt(n))
print("Z-Score:{:.2f}".format(z))
print("The critical value of z is -1.645 and +1.645")
print("The computed value of z value is 1.42 falls in accepted region.So we accept null hypothesis ")

Z-Score:1.42
The critical value of z is -1.645 and +1.645
The computed value of z value is 1.42 falls in accepted region.So we accept null hypothesis

# Problem Statement 6:

In [10]:
'''Suppose that in past years the average price per square foot for warehouses in the
United States has been $32.28. A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is $31.67, with a standard deviation of $1.29. assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5% level of significance, what statistical conclusion can be
reached? What are the hypotheses? '''
n = 19
sample_mean = 31.67
s = 1.29
Œº = 32.28
# State the hypothesis
# H0 => Œº = 32.28
# H1 => Œº ‚â† 32.28
# Level of Significance = 5%
z = (sample_mean - Œº ) / (s / math.sqrt(n))
print("Z-Score:{:.2f}".format(z))
print("The critical value of z is -1.96 and +1.96")
print("The computed value of z value is -2.06 falls in rejection region.So we reject the null hypothesis ")
print("Hence the average price per square foot for warehouses has changed now.")

Z-Score:-2.06
The critical value of z is -1.96 and +1.96
The computed value of z value is -2.06 falls in rejection region.So we reject the null hypothesis
Hence the average price per square foot for warehouses has changed now.

# Problem Statement 7:

In [6]:
'''Fill in the blank spaces in the table and draw your conclusions from it.
'''
import pandas as pd
d = {'Acceptance Region':['48.5 < x < 51.5','48 < x < 52','48.81 < x < 51.9','48.40 < x < 51.58'],'Sample Size':[10,10,16,16],'Œ± values':[0.0588,0.0118,0.0299,0.0111],
     'Œ≤ at Œº = 52':[0.73569,0.49999,0.563549,0.749198],'Œ≤ at Œº = 50.5':[0.891361,0.970297,0.871124,0.95767]}
df = pd.DataFrame(data=d)
df

   Acceptance Region  Sample Size  Œ± values  Œ≤ at Œº = 52  Œ≤ at Œº = 50.5
0    48.5 < x < 51.5           10    0.0588     0.735690       0.891361
1        48 < x < 52           10    0.0118     0.499990       0.970297
2   48.81 < x < 51.9           16    0.0299     0.563549       0.871124
3  48.40 < x < 51.58           16    0.0111     0.749198       0.957670

# Problem Statement 8:

In [89]:
'''
Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5.'''
n = 16
population_mean = 10
sample_mean = 12
s = 1.5 #Sample Standard deviation
t_score= (sample_mean - population_mean)/(s/np.sqrt(n))
print("Calculated t-Score:{:.2f}".format(t_score))

Calculated t-Score:5.33

# Problem Statement 9:

In [2]:
'''Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.'''
#degrees_freedon = n-1
d_f = 15
# 1-alpha => 1-0.99 = 0.01
alpha = 0.01
print("t-score below which can except 99% of sample means falls if sample size is 16 :-2.602" )

t-score below which can except 99% of sample means falls if sample size is 16 :-2.602

# Problem Statement 10:

In [ ]:
'''If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that (‚àíùë°0.05 <ùë°<ùë°0.10).'''

# Problem Statement 11:

In [16]:
'''Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:
Population 1: Bangalore to Chennai n1 = 1200
x1 = 452
s1 = 212
Population 2: Bangalore to Hosur n2 = 800
x2 = 523
s2 = 185
'''
import numpy as np
from scipy import stats
diff_means = -71
# Null Hypothesis: H0 => x1-x2=0 
# Alternative Hypothesis H1 => x1-x2 # 0
# Significance level = 90%
n1 = 1200
n2 = 800
x1 = 452
x2 = 523
s1 = 212 
s2 = 185
m1=0
m2=0
diff_two_means = x1-x2
standard_error = np.sqrt((s1**2/n1)+(s2**2/n2))
print("standard_error:{:.2f}".format(standard_error))
z_value = (diff_two_means)/(standard_error)
print("z-value:{:.2f}".format(z_value))
print("Critical value at 90% Significance level is: 1.654")
print("Comparing the z-value with critical value : state that -7.93 < 1.654, So reject the null hypothesis. ")
print("Conclusion: There is no evidence that no of people travelling from Banglore to chennai and Banglore to Hosur in a week \n are not equal.")

standard_error:8.96
z-value:-7.93
Critical value at 90% Significance level is: 1.654
Comparing the z-value with critical value : state that -7.93 < 1.654, So reject the null hypothesis.
Conclusion: There is no evidence that no of people travelling from Banglore to chennai and Banglore to Hosur in a week
 are not equal.

# Problem Statement 12:

In [50]:
'''Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:
Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67'''

# Null Hypothesis: H0 => x1-x2=0 
# Alternative Hypothesis H1 => x1-x2 # 0
# Significance level = 90%
n1 = 100
n2 = 100
x1 = 308
x2 = 254
s1 = 84 
s2 = 67
m1=0
m2=0
diff_two_means = x1-x2
standard_error = np.sqrt((s1**2/n1)+(s2**2/n2))
print("standard_error:{:.2f}".format(standard_error))
z_value = (diff_two_means)/(standard_error)
print("z-value:{:.2f}".format(z_value))
print("Critical value at 95% Significance level is: 1.96")
print("Comparing the z-value with critical value : 5.03 > 1.96 , So fail to reject the null hypothesis. ")
print("Conclusion: There is evidence that no of people preferring Duracell battery is different from number of people preferring\n Energizer batteries.")

standard_error:10.74
z-value:5.03
Critical value at 95% Significance level is: 1.96
Comparing the z-value with critical value : 5.03 > 1.96 , So fail to reject the null hypothesis.
Conclusion: There is evidence that no of people preferring Duracell battery is different from number of people preferring
 Energizer batteries.

# Problem Statement 13:

In [52]:
'''Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?
Population 1: Price of sugar = Rs. 27.50 
n1 = 14
x1 = 0.317%
s1 = 0.12%
Population 2: Price of sugar = Rs. 20.00 
n2 = 9
x2 = 0.21%
s2 = 0.11%'''
n1 = 14
n2 = 9
x1 = 0.317
x2 = 0.21
s1 = 0.12
s2 = 0.11
percentage = x1-x2 
degrees_freedom = min(n1-1,n2-1)
print("Degrees of freedom :",degrees_freedom)
print("At 95% Confidence interval with respect to dof:8 : 2.306")
print("State the Hypothesis: Null Hypothesis H0=>x1-x2 = 0, Alternative Hypothesis: H1: x1 # X2")
t_Statistic = (x1 - x2)/np.sqrt((s1**2/n1) + (s2**2/n2))
print("Calculated t_Statistic:{:.2f}".format(t_Statistic))
print("Calculated t-statistic 2.20 is < 2.306,So we reject null Hypothesis")
#print("Conclusion: There is no sufficient evidence to conclude that average percentage \n increase in the price of sugar differs when it is sold at two different prices")

Degrees of freedom : 8
At 95% Confidence interval with respect to dof:8 : 2.306
State the Hypothesis: Null Hypothesis H0=>x1-x2 = 0, Alternative Hypothesis: H1: x1 # X2
Calculated t_Statistic:2.20
Calculated t-statistic 2.20 is < 2.306,So we reject null Hypothesis

# Problem Statement 14:

In [32]:
'''The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?
Population 1: Before reduction
n1 = 15
x1 = Rs. 6598 
s1 = Rs. 844
Population 2: After reduction 
n2 = 12
x2 = RS. 6870
s2 = Rs. 669'''
n1 = 15
n2 = 12
x1 = 6598
x2 = 6870
s1 = 844
s2 = 669
diff_two_means = x1-x2
degrees_freedom = min((n1-1),(n2-1))
print("Degrees of freedom: ",degrees_freedom)
print("Critical value at 95 % confidence interval with 11 dof is: 2.201")
t_statistic = (x1 - x2)/np.sqrt((s1**2/n1) + (s2**2/n2))
print("Calculated t-Statistic:{:.2f}".format(t_statistic))
print("Null Hypothesis: H0 => x1-x2 = 0")
print("Alternative Hypothesis: H1=>x1-x2 # 0")
print("Calculated t-statistic value is -0.93 < 2.201 ,So Reject the null hypothesis")

Degrees of freedom:  11
Critical value at 95 % confidence interval with 11 dof is: 2.201
Calculated t-Statistic:-0.93
Null Hypothesis: H0 => x1-x2 = 0
Alternative Hypothesis: H1=>x1-x2 # 0
Calculated t-statistic value is -0.93 < 2.201 ,So Reject the null hypothesis

# Problem Statement 15:

In [2]:
'''Comparisons of two population proportions when the hypothesized difference is zero
Carry out a two-tailed test of the equality of banks‚Äô share of the car loan market in
1980 and 1995.
Population 1: 1980
n1 = 100
x1 = 53
ùëù 1 = 0.53
Population 2: 1985
n2 = 100
x2 = 43
ùëù 2= 0.53
'''
import numpy as np
print("State the Hypothesis: Null Hypothesis : H0=0, Alternative Hypothesis: H1 # 0")
n1 = 100
n2 = 100
x1 = 53
x2 = 43
p1_ = 0.53
p2_ = 0.43
p_ = (x1+x2)/(n1+n2)
print("Significance level = 95%, the p-value is 1.96")
Numerator = p1_-p2_
Z_value = Numerator /np.sqrt(p_*(1-p_)*((1/n1)+(1/n2)))
print("Calculated Z-Value {:.2f}".format(Z_value))
print("Calculated Z-value is less than critical value: so we may reject null hypothesis at 95% significance level")

State the Hypothesis: Null Hypothesis : H0=0, Alternative Hypothesis: H1 # 0
Significance level = 95%, the p-value is 1.96
Calculated Z-Value 1.42
Calculated Z-value is less than critical value: so we may reject null hypothesis at 95% significance level

# Problem Statement 16:

In [3]:
'''Carry out a one-tailed test to determine whether the population proportion of
traveler‚Äôs check buyers who buy at least $2500 in checks when sweepstakes prizes
are offered as at least 10% higher than the proportion of such buyers when no
sweepstakes are on.
Population 1: With sweepstakes
n1 = 300
x1 = 120
ùëù 1= 0.40
Population 2: No sweepstakes n2 = 700
x2 = 140
ùëù 2= 0.20'''
print("State the Hypothesis: Null Hypothesis : H0=p1-p2<=0.10, Alternative Hypothesis: H1 = p1-p2 > 0.10")
n1 = 300
n2 = 700
x1 = 120
x2 = 140
ùëù1_ = 0.40
p2_ = 0.20
print("Significance level at 95 % : 1.96 ")
Numerator = ((p1_-p2_)-(0.10))
Denomenator = np.sqrt((p1_*(1-p1_)/n1)+(p2_*(1-p2_)/n2))
z_value = Numerator/Denomenator
print("Calculated z_value:{:.2f}".format(z_value))
print("Conclusion: The calculated z-value is far away from the region,So we reject the null hypothesis at any common\nlevel of significance")

State the Hypothesis: Null Hypothesis : H0=p1-p2<=0.10, Alternative Hypothesis: H1 = p1-p2 > 0.10
Significance level at 95 % : 1.96
Calculated z_value:3.12
Conclusion: The calculated z-value is far away from the region,So we reject the null hypothesis at any common
level of significance

# Problem Statement 17:

In [4]:
import numpy as np
'''A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as ùëù ‚àí .'''
# set the Null hypothesis H0=>At Null hypothesis the die is unbiased H0=0
# At alternative hypothesis the die is not unbiased H1 # 0
# Significance level 95%
print("Degrees of freedom:" ,5) # Degrees of freedom:6-1=5
E = 132/6
print("Expected value:",E)
frequency = [16,20,25,14,29,28]
temp = []
for i in frequency:    
    temp.append(((i - E)**2)/E)
Chi_square = format(np.sum(temp))
print("Chi-square calculated value is: ",Chi_square)
print("At 5% level of significance the table value is:11.07 ")
print("The calculated value is less than the table value,So there is no evidence against the hypothesis that the \n die is unbiased ")

Degrees of freedom: 5
Expected value: 22.0
Chi-square calculated value is:  9.0
At 5% level of significance the table value is:11.07
The calculated value is less than the table value,So there is no evidence against the hypothesis that the
 die is unbiased

# Problem Statement 18:

In [5]:
'''In a certain town, there are about one million eligible voters. A simple random
sample of 10,000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:
We would want to check whether being a man or a woman (columns) is independent of
having voted in the last election (rows). In other words, is ‚Äúgender and voting independent‚Äù?'''
import numpy as np
import pandas as pd
d = {'Status':['Voted','Non Voted','Total'],'Men':[2792,1486,4278],'Women':[3591,2131,5722],'Total':[6383,3617,10000]}
df = pd.DataFrame(data=d)
df

      Status   Men  Women  Total
0      Voted  2792   3591   6383
1  Non Voted  1486   2131   3617
2      Total  4278   5722  10000

In [6]:
df_obs = np.append(df.iloc[0][1:4].values,df.iloc[1][1:4].values)
df_obs

array([2792, 3591, 6383, 1486, 2131, 3617], dtype=object)

In [7]:
row_sums = df.iloc[0:3,3].values
#row_sums
col_sums = df.iloc[2,1:4].values
#col_sums

In [8]:
total = df.loc[2, 'Total']
f_expected = []
for i in range(2):
    for j in col_sums:
        f_expected.append(j*row_sums[i]/total)
f_expected

[2730.6474, 3652.3526, 6383.0, 1547.3526, 2069.6474, 3617.0]

In [9]:
chi_squared_statistic = ((df_obs - f_expected)**2/f_expected).sum()
print('Chi-squared Statistic: {:.2f}'.format(chi_squared_statistic))

Chi-squared Statistic: 6.66

In [10]:
dof = (len(row_sums)-1)*(len(col_sums)-1)
print("Degrees of Freedom: {}".format(dof))

Degrees of Freedom: 4

In [11]:
# Stating the Hypothesis
print("H0 => Null Hypothesis states that Gender is independent of voting.")

print("H1 => Alternate hypothesis states that Gender and voting are dependent..")
# Significance Level
# 5 % level of significance.
print("At 5% level of significance: 9.41")
print("Calculated Chi-squared Statistic:{:.2f}".format(chi_squared_statistic))
print("Calculated Chi-squared statistic 6.66 < 9.41 at 5 % level of significance,So the value lies on the non rejection region\n,We reject the null and supports the hypothesis that sex and voting are dependent.")

H0 => Null Hypothesis states that Gender is independent of voting.
H1 => Alternate hypothesis states that Gender and voting are dependent..
At 5% level of significance: 9.41
Calculated Chi-squared Statistic:6.66
Calculated Chi-squared statistic 6.66 < 9.41 at 5 % level of significance,So the value lies on the non rejection region
,We reject the null and supports the hypothesis that sex and voting are dependent.

# Problem Statement 19:

In [88]:
'''A sample of 100 voters are asked which of four candidates they would vote for in an
election. The number supporting each candidate is given below:
Do the data suggest that all candidates are equally popular? [Chi-Square = 14.96,
with 3 df, ùëù 0.05 .'''
d = {'Higgins':[41],'Reardon':[19],'White':[24],'Charlton':[16]}
df = pd.DataFrame(data=d)
df
#df_values = df.values
#df_values

   Higgins  Reardon  White  Charlton
0       41       19     24        16

In [89]:
df_expected = df.values.sum()/4
df_expected

25.0

In [91]:
chi_squared_statistic = ((df_values - df_expected)**2/df_expected).sum()
print('Chi-squared Statistic: {:.2f}'.format(chi_squared_statistic))

Chi-squared Statistic: 14.96

In [96]:
print("At 0.05 with 3 degrees of freedom the critical value is: 7.81")
print("H0 => Null Hypothesis states that the four candidates are equal.")

print("H1 => Alternate hypothesis states that the four candidates are not equal..")
print("Since calculated chi-square value is far away from the critical value,So the voters do not prefer the four candidates \n equally.So will fail to accept Null hypothesis")

At 0.05 with 3 degrees of freedom the critical value is: 7.81
H0 => Null Hypothesis states that the four candidates are equal.
H1 => Alternate hypothesis states that the four candidates are not equal..
Since calculated chi-square value is far away from the critical value,So the voters do not prefer the four candidates
 equally.So will fail to accept Null hypothesis

# Problem Statement 20:

In [133]:
'''Children of three ages are asked to indicate their preference for three photographs of
adults. Do the data suggest that there is a significant relationship between age and
photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4
df: ùëù < 0.05].'''
d = {'Age of Child':['5-6 years','7-8 years','9-10 years','Total'],'Photograph_A':[18,2,20,40],'Photograph_B':[22,28,10,60],'Photograph_C':[20,40,40,100],'Total':[60,70,70,200]}
df = pd.DataFrame(data=d)

df

  Age of Child  Photograph_A  Photograph_B  Photograph_C  Total
0    5-6 years            18            22            20     60
1    7-8 years             2            28            40     70
2   9-10 years            20            10            40     70
3        Total            40            60           100    200

In [167]:

df_obs_values = np.concatenate((df.iloc[0][1:4].values,df.iloc[1][1:4].values,df.iloc[2][1:4].values))
df_obs_values

array([18, 22, 20, 2, 28, 40, 20, 10, 40], dtype=object)

In [124]:
row_total = df.iloc[0:3,4]
column_total = df.iloc[3,1:4]

Photograph_A     40
Photograph_B     60
Photograph_C    100
Name: 3, dtype: object

In [130]:
total = df.loc[3, 'Total']
f_expected = []
for i in range(3):
    for j in column_total:
        f_expected.append(j*row_total[i]/total)
f_expected

[12.0, 18.0, 30.0, 14.0, 21.0, 35.0, 14.0, 21.0, 35.0]

In [169]:
chi_squared_statistic = ((df_obs_values - f_expected)**2/f_expected).sum()
print('Chi-squared Statistic: {:.2f}'.format(chi_squared_statistic))

Chi-squared Statistic: 29.60

In [170]:
dof = (len(row_total)-1)*(len(column_total)-1)
print("Degrees of Freedom: {}".format(dof))

Degrees of Freedom: 4

In [172]:
print("Critical value with 0.05 significance level is: 9.49")
print("Calculated Chi-square value is far away from the critical value,So the value is not in the rejection region,\n we can accept the Alternative hypothesis")
print("Conclusion: Since there is a significance relationship between age of a child and photographer preference. ")

Critical value with 0.05 significance level is: 9.49
Calculated Chi-square value is far away from the critical value,So the value is not in the rejection region,
 we can accept the Alternative hypothesis
Since there is a significance relationship between age of a child and photographer preference.

# Problem Statement 21:

In [175]:
'''
A study of conformity using the Asch paradigm involved two conditions: one where
one confederate supported the true judgement and another where no confederate
gave the correct response.
Is there a significant difference between the "support" and "no support" conditions in the
frequency with which individuals are likely to conform? [Chi-Square = 19.87, with 1 df:
ùëù < 0.05].
'''
import numpy as np
import pandas as pd
d = {'Confirmation':['Confirm','Not Confirm','Total'],'Support':[18,32,50],'No Support':[40,10,50],'Total':[58,42,100]}
df = pd.DataFrame(data=d)
df

  Confirmation  Support  No Support  Total
0      Confirm       18          40     58
1  Not Confirm       32          10     42
2        Total       50          50    100

In [177]:
df_obs = np.append(df.iloc[0][1:3].values,df.iloc[1][1:3].values)
df_obs

array([18, 40, 32, 10], dtype=object)

In [185]:
row_sums = df.iloc[0:2,3].values
#row_sums
col_sums = df.iloc[2,1:3].values
#col_sums

In [186]:
total = df.loc[2, 'Total']
f_expected = []
for i in range(2):
    for j in col_sums:
        f_expected.append(j*row_sums[i]/total)
f_expected

[29.0, 29.0, 21.0, 21.0]

In [187]:
chi_squared_statistic = ((df_obs - f_expected)**2/f_expected).sum()
print('Chi-squared Statistic: {:.2f}'.format(chi_squared_statistic))

Chi-squared Statistic: 19.87

In [188]:
dof = (len(row_sums)-1)*(len(col_sums)-1)
print("Degrees of Freedom: {}".format(dof))

Degrees of Freedom: 1

In [193]:
print("Critical value at 0.05 significance level is:3.84")
print("So Calculated Chi-Sqaure is far away from the critical value ")
print("Conclusion: we can conclude that there is a significant difference between the support and no support conditions, \n in terms of the frequency with which individuals conformed. ")

Critical value at 0.05 significance level is:3.84
So Calculated Chi-Sqaure is far away from the critical value
Conclusion: we can conclude that there is a significant difference between the support and no support conditions,
 in terms of the frequency with which individuals conformed.

# Problem Statement 22:

In [5]:
'''
We want to test whether short people differ with respect to their leadership qualities
(Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget
MP's are there?) The following table shows the frequencies with which 43 short people and
52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a
relationship between height and leadership qualities?
[Chi-Square = 10.71, with 2 df: ùëù < 0.01]
'''
import numpy as np
import pandas as pd
d = {'Category':['Leader','Follower','Unclassifiable','Total'],'Short':[12,22,9,43],'Tall':[32,14,6,52],'Total':[44,36,15,95]}
df = pd.DataFrame(data=d)
df

         Category  Short  Tall  Total
0          Leader     12    32     44
1        Follower     22    14     36
2  Unclassifiable      9     6     15
3           Total     43    52     95

In [10]:
df_obs = np.concatenate((df.iloc[0][1:3].values,df.iloc[1][1:3].values,df.iloc[2][1:3].values))
df_obs

array([12, 32, 22, 14, 9, 6], dtype=object)

In [16]:
row_sums = df.iloc[0:3,3].values
#row_sums
col_sums = df.iloc[3,1:3].values
#col_sums

In [25]:
total = df.loc[3, 'Total']
f_expected = []
for i in range(3):
    for j in col_sums:
        f_expected.append(j*row_sums[i]/total)
f_expected
#print('Expected values:{:.2f}'.format(f_expected))

[19.91578947368421,
 24.08421052631579,
 16.294736842105262,
 19.705263157894738,
 6.7894736842105265,
 8.210526315789474]

In [26]:
chi_squared_statistic = ((df_obs - f_expected)**2/f_expected).sum()
print('Chi-squared Statistic: {:.2f}'.format(chi_squared_statistic))

Chi-squared Statistic: 10.71

In [27]:
dof = (len(row_sums)-1)*(len(col_sums)-1)
print("Degrees of Freedom: {}".format(dof))

Degrees of Freedom: 2

In [28]:
print("Critical value for 0.01 significance level is: 9.21")
print("Calculated Chisquare value is: 10.71")
print("10.71 is greater than the tabulated value of Chi-Square at the 0.01 significance level i.e 9.21")
print("Conclusion: We conclude that there seems to be a relationship between height and leadership qualities.")

Critical value for 0.01 significance level is: 9.21
Calculated Chisquare value is: 10.71
10.71 is greater than the tabulated value of Chi-Square at the 0.01 significance level i.e 9.21
Conclusion: We conclude that there seems to be a relationship between height and leadership qualities.

# Problem Statement 23:

In [ ]:

'''
Each respondent in the Current Population Survey of March 1993 was classified as
employed, unemployed, or outside the labor force. The results for men in California age 35-
44 can be cross-tabulated by marital status, as follows:
Men of different marital status seem to have different distributions of labor force status. Or is
this just chance variation? (you may assume the table results from a simple random
sample.)

'''

In [31]:
import numpy as np
import pandas as pd
d = {'Employment':['Employed','Unemployed','Not in Labur force','Total'],'Married':[679,63,42,784],'Widowed,divorced,saperated':[103,10,18,131],'Never Married':[114,20,25,159],'Total':[896,93,85,1074]}
df = pd.DataFrame(data=d)
df

,Employment,Married,"Widowed,divorced,saperated",Never Married,Total
0,Employed,679,103,114,896
1,Unemployed,63,10,20,93
2,Not in Labur force,42,18,25,85
3,Total,784,131,159,1074

In [32]:
df_obs = np.concatenate((df.iloc[0][1:4].values,df.iloc[1][1:4].values,df.iloc[2][1:4].values))
df_obs

array([679, 103, 114, 63, 10, 20, 42, 18, 25], dtype=object)

In [36]:
row_sums = df.iloc[0:3,4].values
#row_sums
col_sums = df.iloc[3,1:4].values
#col_sums

array([784, 131, 159], dtype=object)

In [37]:
total = df.loc[3, 'Total']
f_expected = []
for i in range(3):
    for j in col_sums:
        f_expected.append(j*row_sums[i]/total)
f_expected

[654.0633147113595,
 109.28864059590316,
 132.64804469273744,
 67.88826815642459,
 11.343575418994414,
 13.768156424581006,
 62.04841713221602,
 10.36778398510242,
 12.583798882681565]

In [38]:
chi_squared_statistic = ((df_obs - f_expected)**2/f_expected).sum()
print('Chi-squared Statistic: {:.2f}'.format(chi_squared_statistic))

Chi-squared Statistic: 31.61

In [39]:
dof = (len(row_sums)-1)*(len(col_sums)-1)
print("Degrees of Freedom: {}".format(dof))

Degrees of Freedom: 4

In [41]:
print("Critical value for 0.05 significance level is: 9.49")
print("Calculated Chisquare value is: 31.61")
print("31.61 is far away from the the tabulated value of Chi-Square at the 0.05 significance level i.e 9.49")
print("Conclusion: We conclude that Men of different marital status seem to have different distributions of \nlabor force status.")
print("Reject the Null Hypothesis")

Critical value for 0.05 significance level is: 9.49
Calculated Chisquare value is: 31.61
31.61 is far away from the the tabulated value of Chi-Square at the 0.05 significance level i.e 9.49
Conclusion: We conclude that Men of different marital status seem to have different distributions of
labor force status.
Reject the Null Hypothesis